*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

nav{
    width: 1324px;
    position:relative;
    height: 100px;
    background-color: #222;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
    color:#fff;
    text-decoration: none;
    padding:0 47px ;
    z-index: 2;
    transition: 1.4s;
}

nav a:hover{
    color:rgba(0, 255, 38, 0.7)
}

 nav span{
    position: absolute;
    top:0;
    left:0; 
    width: 255px;
    border-radius: 12px;
    height: 100%;
    background: linear-gradient(45deg , blue, red);
    z-index: 1;
    transition: .5s;
 }

nav a:nth-child(1):hover ~ span{
    left:0;
}

nav a:nth-child(2):hover ~ span{
    left:245px;
}

nav a:nth-child(3):hover ~ span{
    left:490px;
}

nav a:nth-child(4):hover ~ span{
    left:765px;
}

nav a:nth-child(5):hover ~ span{
    left:1040px;
    width: 285px;
}